---
import Layout from "@/layouts/Layout.astro";
import App from "@/components/App.tsx";

import "@/styles/globals.css";
---

<Layout title="OPTC Ships">
  <main>
    <App client:only="react" />
  </main>
</Layout>

<style is:global>
  .STR {
    background: #f75252;
  }
  .QCK {
    background: #5691ff;
  }
  .DEX {
    background: #5cc350;
  }
  .PSY {
    background: gold;
  }
  .INT {
    background: orchid;
  }
  .RCV {
    background: sandybrown;
  }
  .TND {
    background: peru;
  }
  .BLOCK {
    background: darkslateblue;
  }
  .BOMB {
    background: maroon;
  }
  .SUPERBOMB {
    background: maroon;
    color: #ffe97d;
  }
  .WANO {
    background: firebrick;
  }
  .RAINBOW {
    background: linear-gradient(
      90deg,
      #fa8072,
      #ffd700,
      #90ee90,
      #87cefa,
      #da70d6
    );
  }
  .G {
    background: orange;
  }
  .SEMLA {
    background: saddlebrown;
  }
  .EMPTY {
    background: #777;
  }
  .TAG_GROUP_1 {
    background: #d37d06;
  }
  .TAG_GROUP_2 {
    background: #517f1b;
  }
  .TAG_GROUP_3 {
    background: #c22f87;
  }
  .TAG_GROUP_4 {
    background: #04978a;
  }

  .badge {
    border-radius: 4px;
    padding: 2px;
    vertical-align: text-bottom;
  }

  .lazyloading {
    opacity: 1;
    transition: opacity 300ms;
    background: #e4e4e4;
  }
</style>
