---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="OPTC Ships">
  <main></main>
</Layout>

<style>
  .STR {
    background: #f75252;
  }
  .QCK {
    background: #5691ff;
  }
  .DEX {
    background: #5cc350;
  }
  .PSY {
    background: gold;
  }
  .INT {
    background: orchid;
  }
  .RCV {
    background: sandybrown;
  }
  .TND {
    background: peru;
  }
  .BLOCK {
    background: darkslateblue;
  }
  .BOMB {
    background: maroon;
  }
  .SUPERBOMB {
    background: maroon;
    color: #ffe97d;
  }
  .WANO {
    background: firebrick;
  }
  .RAINBOW {
    background: linear-gradient(
      90deg,
      #fa8072,
      #ffd700,
      #90ee90,
      #87cefa,
      #da70d6
    );
  }
  .G {
    background: orange;
  }
  .EMPTY {
    background: #777;
  }
</style>
