---
import Layout from "../layouts/Layout.astro";
import { Ships } from "@/components/ships/ships";
import "@/styles/globals.css";
---

<Layout title="OPTC Ships">
  <main class="my-3">
    <Ships client:load />
  </main>
</Layout>

<style is:global>
  .STR {
    background: #f75252;
  }
  .QCK {
    background: #5691ff;
  }
  .DEX {
    background: #5cc350;
  }
  .PSY {
    background: gold;
  }
  .INT {
    background: orchid;
  }
  .RCV {
    background: sandybrown;
  }
  .TND {
    background: peru;
  }
  .BLOCK {
    background: darkslateblue;
  }
  .BOMB {
    background: maroon;
  }
  .SUPERBOMB {
    background: maroon;
    color: #ffe97d;
  }
  .WANO {
    background: firebrick;
  }
  .RAINBOW {
    background: linear-gradient(
      90deg,
      #fa8072,
      #ffd700,
      #90ee90,
      #87cefa,
      #da70d6
    );
  }
  .G {
    background: orange;
  }
  .SEMLA {
    background: saddlebrown;
  }
  .EMPTY {
    background: #777;
  }

  .badge {
    border-radius: 4px;
    padding: 2px;
    vertical-align: text-bottom;
  }
</style>
