---
import Header from "@/components/Header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="OPTC Ships" />
    <meta name="author" content="blzn50" />
    <meta
      name="keywords"
      content="One Piece, Treasure Cruise, Database, DB, Tables, Ships"
    />
    <meta
      name="description"
      content="A database of all ships in One Piece Treasure Cruise"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div class="container">
      <slot />
    </div>
  </body>
</html>
